// Place all the styles related to the tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.back-box{
    width: 100%;
    height:auto;

    .first-box{
        width: 100%;
        height: 480px;
        background-image: image-url('tubuyaki2.jpg');
        background-size: 100% 100%;

        
    .header {
        position: fixed;
        top: 0;
        font-family: "Segoe Print", "Meiryo UI", "メイリオ",Meiryo, "ＭＳ Ｐゴシック", sans-serif;
        height: 60px;
        width: 100%;
        margin-right: 0;
        margin-left: auto;
        background-color:rgba(255, 255, 255, 0);
        position: sticky;
        font-weight: bold;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .header a {
        color: rgb(0, 0, 0); 
        text-decoration: none; 
      }

      .header-list {
        display: flex;
        align-items: center;
        margin-right: 0;
        margin-left: auto;
      }
      .header ul {
        display: flex;
      }
      .header li {
        list-style: none;
        margin-right: 40px;
      }


        .contents-title{
            padding-top: 15%;
            padding-left: 5%;
            width: 50%;
            height: 20%;
            color: white;
            font-size: 45px;
        }
    }

    .tweet-second-box{

        margin: auto;

        .second-sub-box{
           display: flex;

        .search-box {
            width: 60%;
            margin-top: 3%;
            margin-left: 10%;
            display: flex;
        }
        
        .search-box input[type="text"] {
            flex-grow: 1;
            padding: 0.7rem 0 0.7rem 0.8rem;
            border: 1px solid #333947;
            border-radius: 1.5rem 0 0 1.5rem;
        }
        
        .search-box button {
            cursor: pointer;
            padding: .8rem .9rem .8rem .8rem;
            border-radius: 0 1.5rem 1.5rem 0;
            border: none;
            background-color: #333947;
            color: #fff;
            font-size: .75rem;
        }
        
        .search-box input:focus {
            outline: 0;
            border: 1px solid #4ab6f6;
        }
        
        .search-box button:hover {
            color: #4ab6f6;
        }


    
    .btn-gradient {
        position: relative;
        cursor: pointer;
        width: 12rem;
        height: 3rem;
        line-height: 3rem;
        border-radius: 2rem;
        background-image: linear-gradient(135deg, #ebbba7 10%, #cfc7f8 100%);
        box-shadow: 0 0 15px #bbb;
        color: white;
        text-decoration: none;
        text-align: center;
        margin-top: 3%;
        margin-right: 3%;
    }
    

    .btn-gradient i {
        position: absolute;
        line-height: 3rem;
        right: 1rem;
        transition: 0.5s;
    }
      

    .btn-gradient:hover i {
        right: 0.8rem;
    }

  }

  .tweets-container{
    width: 80%;
    height: 100%;
    padding-top: 3%;
    padding-left: 3%;
    margin-left: 10%;
    align-items: center;

    .tweet{
        width: 90%;
        height: auto;
        border-radius: 1rem;
        padding: 10px;
        background-color: #f3f0ff;
        margin-bottom: 20px;

        .user{
            width: 100%;
            height: 35px;
            border-bottom: 1px solid #333947;
            display: flex;

            .user-icon{
                width: 33px;
                height: 33px;
                border-radius:  50%;
                background-image: image-url('noimage-user.png');
                background-size: 100% 100%;
                margin-left: 10px;

                .user-icon-image{
                    width: 33px;
                    height: 33px;
                    border-radius: 50%;
                }
            }

            .user-name{
                display: flex;
                width: 90%;
                align-items: center;
                padding-left: 10px;
            }
        }

        .main-tweets{
            display: flex;

            .tweet-text{
                width: 78%;
                margin-left: 10px;
            }

            .photo{
                background-color: #bbb;
            }
        }

        .tweets-footer{
            display: flex;
            .time{
                margin-right: 5px;
                margin-left: auto;
                font-size: 12px;
            }

            .show{
                margin-left: 5px;
                display: flex;
                font-size: 13px;
            }
        }

             
    }

    }

    }
}

.show-back-box{
    width: 100%;
    height: auto;
    padding-top: 50px;

    .show-box{
        width: 80%;
        height: 35%;
        margin:auto;
        text-align: center;

        .tweet-show-box{
            width: 100%;
            height: auto;
            border-radius: 5%;
            background-color: #f3f0ff;
            margin-top: 5%;

            .user{
                width: 100%;
                height: 35px;
                border-bottom: 1px solid #333947;
                display: flex;
                background-color: #bbb;
    
                .user-icon{
                    width: 33px;
                    height: 33px;
                    background-image: image-url('noimage-user.png');
                    background-size: 100% 100%;
                    margin-left: 10px;
                }
    
                .user-name{
                    display: flex;
                    width: 90%;
                    align-items: center;
                    padding-left: 10px;
                }

                .edit{
                    width:10%;
                    height: 35px;
                    margin-right: 0;
                    margin-left: auto;
                    display: flex;
                    line-height: 35px;
                    text-align: center;
                    background-color: #f3f0ff;
                }
            }

            .tweet-show{
                 display: flex;

                .tweet-body{
                    width: 60%;
                    height: auto;
                    background-color: #4ab6f6;
            
                }

                .tweet-photo{
                    width: 40%;
                    height: auto;
                    background-color: #cfc7f8;
                }

            } 
            
            .create-time{
                width: 25%;
                margin-right: 0;
                margin-left: auto;
                font-size: 13px;
            }
        }

    }

    
    .feedback-box{
        width: 65%;
        height: auto;
        margin: auto;
        margin-top: 20px;

        .feedback-inpit{
            width: 100;
            height: auto;
            background-color: #bbb;
        }

        .feedback-contents{
            width: 100%;
            height: auto;
            display: flex;
            padding-top: 5px;
            padding-bottom: 5px;
            border-bottom: 1px solid #333947;

            .user-icon-box{
                width: 45px;
                height: 45px;
                border-radius: 50%;
            }

            .feedback-text{
                width: 100%;
                height: auto;

                .user-name{
                    font-size: 13px;
                    font-weight: bold;
                    margin-left: 5px;
                }

                .content{
                    font-size: 15px;
                    margin-left: 10px;
                }

            }
        }
    }
}

   